@mixin box  ($backColor,$fontColor,$bradius) {
        width: 25%;
        height: 200px;
        border: $border;
        border-radius:$bradius;
        background-color:$backColor;
        color:$fontColor;
        margin: 10px;
    
}